[2018-08-03 11:45] nikolausmayer commented on #155
[code]

Padding and kernel size are as in a convolutional layer.
The maximum displacement limits how far away correlation will be done (more -> larger displacements can be correlated, but also more computation).

`stride_1` is the stride in the first bottom blob (the one for which you want to compute correlation), `stride_2` in the second bottom blob (the one to which you want to correlate entries

[2018-08-06 07:29] nikolausmayer commented on #155
Perhaps there is a misunderstanding about the purpose of the correlation layer.
Your example uses the 2nd bottom blob as a filter.

The intended use of the correlation layer is to correlate position P in the 1st bottom blob with a neighborhood around P in the 2nd bottom blob. Both bottom blobs must have the same dimensions (see [here](https://github.com/lmb-freiburg/flownet2/blob/master/src/caffe/

[2018-08-07 06:27] lawpdas commented on #155
Yes, I completely misunderstood the purpose of the correlation layer. Thank you！

[2018-08-07 06:27] #155 closed

[2018-08-10 10:13] saxenarohan97 opened #156 "Downsampling KITTI ground truth"
Hi,

As you mention [here](https://github.com/lmb-freiburg/flownet2/issues/98#issuecomment-351943148), the `Downsample` layer downsamples the ground-truth blob to the size of the predicted-flow blob. Won't this be a problem while finetuning with KITTI images?

KITTI images only contain sparse ground-truth, with invalid pixels containing zero disparity values. If you resize the ground truth, won't

[2018-08-10 13:07] nikolausmayer commented on #156
Invalid pixels are represented as NaN within the network, not zero. When downsampling sparse data like KITTI, invalid pixels are ignored (see [downsample_layer.cu#L52](https://github.com/lmb-freiburg/flownet2/blob/master/src/caffe/layers/downsample_layer.cu#L52)). This is the best you can do; there is no more information in that data to work on, and you have no way to encode subpixel information.

[2018-08-10 14:15] saxenarohan97 commented on #156
I see. Since the raw KITTI data uses zero disparity values as a marker for invalidity, I thought that is what is also used in the network. I understand the downsampling layer now, thanks.

[2018-08-10 14:15] #156 closed

[2018-08-10 15:37] MrRoboticist commented on #156
@nikolausmayer related questions: which resizing algorithm does the `Downsample` layer use? Is it bilinear interpolation?

Also, what is the `Resample` layer, and how is it different from the `Downsample` layer?

[2018-08-13 07:06] nikolausmayer commented on #156
@MrRoboticist `Downsample` uses bilinear interpolation with a threshold: if the source contains too many NaN values, the output is NaN as well (see [downsample_layer.cu#L63](https://github.com/lmb-freiburg/flownet2/blob/master/src/caffe/layers/downsample_layer.cu#L63)).

`Resample` supports [multiple algorithms](https://github.com/lmb-freiburg/flownet2/blob/master/src/caffe/layers/resample_layer.c

[2018-08-16 04:18] yasunorikudo opened #157 "Flying Things 3D dataset is not publicly available?"
Hi.

First of all thank you for your great work!

I'm currently reproducing FlowNet2.0 and had one question.
Flying Things 3D dataset for training is not publicly available?

[2018-08-16 04:27] yasunorikudo commented on #157
Oh, I found a download script.
https://github.com/lmb-freiburg/flownet2/blob/master/data/download.sh
I'm sorry for confusing.

[2018-08-16 04:27] #157 closed

[2018-08-16 09:14] nikolausmayer commented on #157
That download script only gets the data related to optical flow. If you want more, check out https://lmb.informatik.uni-freiburg.de/resources/datasets/SceneFlowDatasets.en.html

[2018-08-16 12:39] alhersh opened #158 "Prepare kitti flow files for online evaluation"
Hi,

I have used FlowNet2 to produce .flo files. Since two months, I am trying to submit the results as kitti explains: " Optical flow maps are saved as 3-channel uint16 PNG images: The first channel
contains the u-component, the second channel the v-component and the third
channel denotes if the pixel is valid or not (1 if true, 0 otherwise)". But I can't!

My question is: how I can convert the g

[2018-08-16 12:54] nikolausmayer commented on #158
- go to http://www.cvlibs.net/datasets/kitti/eval_scene_flow.php?benchmark=flow,  search page for "download development kit" and download it
- look for file `io_flow.h` which can write KITTI-format PNG files
- go to http://vision.middlebury.edu/flow/submit/, search for "flow-code" and download it
- look for file `flowIO.h` which can read FLO files

That gives you all the code you need to convert F

[2018-08-17 08:05] #158 closed

[2018-08-27 04:49] mmohamed2222 opened #159 "Run flownet2 in windows"
Hi,
please how i can run it in windows x64 ?
Thanks

[2018-08-27 07:00] nikolausmayer commented on #159
We do not support Windows.

FlowNet2 is based on Caffe which has a Windows version -- but we do not know whether our old Caffe code is compatible with it. You are on your own here :slightly_smiling_face:

[2018-08-27 10:30] mmohamed2222 commented on #159
Thank you for your answer

[2018-08-28 11:27] flugimonster opened #160 "Installation / running issue."
Hello,
I tried installing and running flownet on an anaconda environment that has python 3.6 installed. I made the required changes in the makefile and it seemed like the installation was successful.
When I try running flownet with a pair of images I get the following error, and I was wondering if you could help.

Traceback (most recent call last):
  File "./run-flownet.py", line 8, in <module>

[2018-08-28 11:31] #160 closed

[2018-08-29 09:49] #159 closed

[2018-09-04 08:11] TomerFw opened #161 "Trouble installing and running flownet2."
Hello,
I have been trying to install flownet2 for a few days now and I'm having troubles with it.
Could you please write the list of dependencies needed to install and run it properly?
I'm trying to install it on ubuntu 16.04 on an anaconda environment that has python3 installed on it.
Currently receiving an error concerning protobuf version.

Thanks in advance.

[2018-09-04 12:06] nikolausmayer commented on #161
(depending on your usecase, our [Docker variant](https://github.com/lmb-freiburg/flownet2-docker) might be easier to use)

Besides CUDA and CuDNN (v5), the dependencies for Python 2 should be (via our [Dockerfile](https://github.com/lmb-freiburg/flownet2-docker/blob/master/Dockerfile#L19)):

`module-init-tools build-essential ca-certificates libatlas-base-dev libboost-all-dev libgflags-dev libgoog

[2018-09-04 15:33] TomerFw commented on #161
Thanks for the swift reply!
I tried running it with the docker and I get the following error:

et2 -v data/0000000-imgL.png data/0000001-imgL.png flow.flo
Using GPU:       0
Running network: FlowNet2
Working dir:     /flownet2/flownet2/scripts
First input:     data/0000000-imgL.png
Second input:    data/0000001-imgL.png
Output:          flow.flo
/flownet2/flownet2/scripts
WARNING: Logging before I

[2018-09-05 06:45] nikolausmayer commented on #161
What GPU do you have in your system? For the "FlowNet2" model and the example images, there should be at least 4 GB free.
If you have multiple GPUs, you can use the `-g` parameter to choose one.

If you are unsure, you can post the output of `nvidia-smi`.

[2018-09-05 08:18] chengtingting opened #162 "img0_a-org"
Unknown bottom blob 'img0_a_org' (layer 'crop_params', bottom index 0), the img0_a_org in FlowNet2_train.prototxt is not an output(top) of some layer

[2018-09-05 08:29] #161 closed

[2018-09-05 08:32] nikolausmayer commented on #162
See https://github.com/lmb-freiburg/flownet2/issues/149

[2018-09-05 10:04] liangxi627 opened #163 "How to get the optical flow value in .flow file?"
I have generated the .flo files of my dataset through the pre-trained model. How to get the value (u,v) in the .flo file at pixel location (x,y) in the original frame? Please help me~

[2018-09-05 10:32] nikolausmayer commented on #163
C++: `flowIO` in http://vision.middlebury.edu/flow/code/flow-code/
Python: https://github.com/lmb-freiburg/flownet2/blob/master/scripts/run-flownet.py#L100-L115

The Python code produces NumPy arrays, that should be the easiest option.

[2018-09-13 17:39] shahabty opened #164 "Pretrained weights for Kitti dataset"
Hello,
Does anyone has pretrained weights of FlowNetS on Kitti dataset?
I appreciate it if you can share it with me.

Thanks

[2018-09-28 23:39] Ivamcoder opened #165 "warping image"
Hi
I want warp one image with optical flow from flownet2 using the [  https://github.com/lmb-freiburg/flownet2/blob/master/src/caffe/layers/flow_warp_layer.cu](url) , but independently in python without using caffe,
is it possible? or my self should interpolate that?

[2018-09-29 05:58] #165 closed

[2018-10-09 18:13] achalddave opened #166 "Is the default flownet2 only trained on FlyingThings3D?"
I'm pretty sure this is the case, but there doesn't seem to be a specific documentation.

The [`download_models.sh`](https://github.com/lmb-freiburg/flownet2/blob/9eed763789c06fa5f44e7af79078c0446a82bfc6/models/download-models.sh) script downloads  a bunch of models. I believe the default `FlowNet2/FlowNet2_weights.caffemodel.h5` model is trained on FlyingThings3D only; is that correct?

[2018-10-12 07:37] FUZhanhong commented on #166
hello sir,

what about DispNetCorr1D? trained on FlyingThings3D and finetuned with KITTI2015? the paper <A Large Dataset to Train Convolutional Networks or Disparity, Optical Flow, and Scene Flow Estimation> has mentioned the dataset FlyingChairs, if i pre-trained the net with FlyingChairs, can the result be better for outdoor scene?

another question: in another issue in programme "dispnet-flow-d

[2018-10-12 10:36] nikolausmayer commented on #166
@FUZhanhong _DispNetCorr1D_ only uses FlyingThings3D. FlyingChairs is not a disparity dataset, so that probably won't get you very far. _DispNetCorr1D-K_ is just _DispNetCorr1D_ with additional finetuning on KITTI data. I don't understand your question about the "test part".

[2018-10-12 12:48] nikolausmayer commented on #163
(closed due to inactivity)

[2018-10-12 12:48] #163 closed

[2018-10-12 12:48] nikolausmayer commented on #162
(closed due to inactivity)

[2018-10-12 12:48] #162 closed

[2018-10-17 11:16] AresGao opened #167 "Data_augmention"
I found you have done data augmention during inference，what dose that augement doing？ @nikolausmayer

[2018-10-17 12:17] nikolausmayer commented on #167
https://github.com/lmb-freiburg/flownet2/issues/106

[2018-10-17 12:19] AresGao commented on #167
Oh，Ths

[2018-10-19 23:10] OPzealot commented on #12
@TusharNimbhorkar Same error here. Have you solved it?

[2018-10-23 06:10] #166 closed

[2018-10-31 13:13] BluebirdStory commented on #83
I use the caffe version provided by BVLC instead of the author, and now I have the same problem. I just wonder does the caffe version leads to this problem? Thanks @nikolausmayer

[2018-11-01 20:37] Ivamcoder opened #168 "New layers"
Hi,
Thanks for your paper,
I want to add your network to another network,
Could I please ask the list of new layers you have defined in caffe for your network?

[2018-11-01 21:31] Ivamcoder opened #169 "accuracy on small images"
I was wondering if I calculate the optical flow for small image size like `46 *46 `, it would be accurate optical flow or erroneous one?

[2018-11-01 22:46] Ivamcoder opened #170 "model refers to paper"
Hi,
Which model in models folder has highest accuracy which is the contribution of this paper?

[2018-11-02 08:39] BluebirdStory commented on #168
Hi, I think it is in the include group

[2018-11-02 08:46] BluebirdStory commented on #168
I also want to know where is the new layer, to be specific, where is the correspond layer? Thank you soooo much, by the way, your paper is really brilliant, it works well.

[2018-11-02 08:47] BluebirdStory opened #171 "Where is the new layer"
I also want to know where is the new layer, to be specific, where is the correspond layer? Thank you soooo much, by the way, your paper is really brilliant, it works well.

[2018-11-02 22:17] Ivamcoder opened #172 "Matcaffe Interface"
Hi,
I wrote `run_flownet.py` in matlab, and I could not get the same results,
the only different that I notice is that dimension in `prototxt` file is read in different order from `pycaffe` in `matcaffe`, so I leave `protoxt`  unchanged, and just changing the input order size but still results are not same, the apperance is same but the intensity of color is  different, when I plot them
I would ap

[2018-11-03 20:45] #168 closed

[2018-11-04 01:48] #169 closed

[2018-11-04 01:48] #172 closed

[2018-11-05 07:18] nikolausmayer commented on #83
@BluebirdStory that's possible, yes. The Caffe code in this repo is not compatible with BVLC stock versions.

[2018-11-05 07:19] nikolausmayer commented on #170
FlowNet2 is the highest-accuracy general purpose model.
FlowNet2-Sintel is the highest-accuracy Sintel model.
FlowNet2-KITTI is the highest-accuracy KITTI model.

[2018-11-05 07:21] nikolausmayer commented on #171
If you mean the correlation layer, that's in `src/caffe/layers/correlation_layer.*`

[2018-11-09 21:31] AliKafaei opened #173 "Question about the paper"
Dear sir,
I am trying to implement Flownet Simple and I encountered an ambiguity in the paper (the paper is solid and well written but I did not undrestand a section.).
my problem is in refinement layers. In these layers, upconvolved data, contracting data and prediction of the layer before are concatnated. In the paper it is written that all layers have RELU activation but with RELU activation fu

[2018-11-11 08:01] BluebirdStory opened #174 "How make a demon"
My mentor now wants me to make a demo based on your model and released code, it probably will be like this: there should be a interface with two rectangles in it, one for  showing currently captured frames, and the other for the flow predicted. So here is the issue: how can I accomplish it? I mean, should I write the C++ code based on your python version script run-flownet.py? or you have done the

[2018-11-11 08:06] BluebirdStory commented on #174
I am a fresh graduate student that majored in applied math during undergraduate years, so when it comes to project problem, I am really a green hand. Looking forward to your reply, thank you sooooo much!!

[2018-11-11 08:07] #171 closed

[2018-11-12 08:32] nikolausmayer commented on #174
The easiest approach is probably to adapt the code from "run-flownet.py"; instead of reading images from files, you can use OpenCV functions to grab webcam images and display network inputs and outputs. For the conversion from optical flow to a color image, check the reference code in http://vision.middlebury.edu/flow/code/flow-code.zip (unfortunately it's only C++, but the code is simple).

[2018-11-12 08:48] nikolausmayer commented on #173
The prediction layers do not have an activation. After the concatenation, there is another convolution which can make use of negative displacement values before the next activation layer.

The ReLUs in the network are "leaky ReLU" with negative slope 0.1 anyway, so negative values would not be entirely lost.

The paper may refer to "upconvolution" layers as upsampling. The FlowNetSimple's final ou

[2018-11-12 10:19] BluebirdStory commented on #174
@nikolausmayer Thank you!!!

[2018-11-12 16:11] AliKafaei commented on #173
Thanks for the support:).
The point that is vague is that to concatenate the low-resolution prediction in the refinement section, upsampling alone (with no learnable parameter) is used or Convolution Transpose (sometimes called Deconvolution) is used?
The upsampling does not have any learnable parameter (adding zeros and then low pass filtering) while convolution transpose and deconvolution have l

[2018-11-12 17:04] nikolausmayer commented on #173
Those are "Deconvolution" layers. Unlearned upsampling layers are only used during test mode (resp. for the last half-res-to-full-res step).

[2018-11-13 11:54] #174 closed

[2018-11-13 12:18] BluebirdStory opened #175 "About compiling on OS X"
Hi, I am now compiling your version of caffe on OS X, and I encounter this issue that I can not figure out:
nvcc fatal   : GNU C/C++ compiler is no longer supported as a host compiler on Mac OS X.

for more details:
<img width="727" alt="2018-11-13 8 17 24" src="https://user-images.githubusercontent.com/33217105/48412990-36251f00-e781-11e8-9238-1e50aca8a3db.png">
many thanks

[2018-11-13 12:20] BluebirdStory commented on #175
Or say your version of caffe just does not support compiling on OS X, thank you

[2018-11-14 04:01] BluebirdStory commented on #175
Right by the way, I am compiling your version of caffe on OS X 10.12.3, and in a conda virtual environment. The conda version is 4.3.27

[2018-11-14 07:47] nikolausmayer commented on #175
We do not support OS X builds, sorry. I guess you could try CLANG or whatever host compiler NVCC supports on OS X, but that might just bring in its own host of problems.
You might be able to run [FlowNet2 in Docker](https://github.com/lmb-freiburg/flownet2-docker) — if OS X supports GPU passthrough (which I do not know)

[2018-11-14 10:00] BluebirdStory commented on #175
All right, I guess it explains everything, but thank you anyway, appreciate for your contribution!

[2018-11-17 03:05] #175 closed

[2018-11-17 03:09] BluebirdStory opened #176 "About compiling in a conda virtual environment on linux"
I am now compiling your version of caffe on linux in a conda virtual env, and I keep on meeting this problem
<img width="799" alt="2018-11-17 11 08 01" src="https://user-images.githubusercontent.com/33217105/48655929-19c30400-ea59-11e8-8055-eb0d72e1e6d8.png">
would you like to provide me with some advices? many thanks

[2018-11-17 03:14] BluebirdStory commented on #176
I have successfully compile your version of caffe in the default environment, i.e. not the conda virtual env. I don't understand why every time I switch to the conda env, the CUDNN will go wrong. Do I need to install an independent CUDA and CUDNN in the virtual env?

[2018-11-17 11:51] nikolausmayer commented on #176
This error occurs if you have CuDNN > 5. You can switch to CuDNN 5, but it's easy to fix the code your self: in `include/caffe/util/cudnn.h`, line 113 (check the documentation of CuDNN!) the function `cudnnSetConvolution2dDescriptor` now expects an additional argument (I think it's something like "datatype float"). Fixing that should make the CuDNN problem disappear. I've tested it with up to CuDN

[2018-11-17 12:03] BluebirdStory commented on #176
Thank you sooooo much, you are my hero!!! @nikolausmayer

[2018-11-22 08:53] #176 closed

[2018-11-22 21:36] itsKaspar opened #177 "make fail"
hi !
I've been trying to make with

`$ make -j 5 all tools pycaffe `

[code]

the make command is failing for me
I did uncomment the opencv 3 line

I am running Linux Mint 18.2
and have no problem with CUDA 8.0 or cudnn 5

[2018-11-23 02:50] huangbiubiu commented on #49
And in Fig. 2 in the FlowNet paper, what's `sqrt` (next to the `conv_redir`) means?

[2018-11-26 09:51] nikolausmayer commented on #173
The `*deploy.prototxt*` files in the `models` folder contain that information.

[2018-11-26 09:52] nikolausmayer commented on #170
(closed due to inactivity)

[2018-11-26 09:52] #170 closed

[2018-11-30 15:41] nikolausmayer commented on #164
Looks like nobody has that... :slightly_smiling_face:   (we don't)

[2018-12-01 12:15] itsKaspar commented on #177
thanks !
added

all worked out :)

[2018-12-02 18:18] #177 closed

[2018-12-04 14:09] Hamada14 opened #178 "Question Regarding training time"
How long does it take to train the network?

[2018-12-05 11:04] #178 closed

[2018-12-11 15:31] AIaesthetic commented on #71
@nikolausmayer I managed to create .flo list and I can visualize each .flo file thanks to  http://vision.middlebury.edu/ . But I'm aiming to visualize the whole .flo list not just each individual .flo file. anyhelp?
Thanks in advance

[2018-12-11 15:44] AIaesthetic opened #179 "This is not actually an issue for this repository I'm sorry. But I'm wondering if you can help"
I managed to create .flo list and I can visualize each .flo file thanks to http://vision.middlebury.edu/ . But I'm aiming to visualize the whole .flo list at once, not just each individual .flo file at a time. any help?
Thanks in advance

[2018-12-11 16:04] nikolausmayer commented on #179
It sounds like that should be a simple case of "run the visualization app for every .flo file". What's your goal? A flow video?

[2018-12-11 16:22] AIaesthetic commented on #179
It's a simple case. But, I have like a hundred .flo files. Won't be there a simpler way to do it? same as running Flownet2 on frames list?
Yes, I'd like to make a video from the output .flo files.

[2018-12-11 17:49] AIaesthetic commented on #179
it works. I love you

[2018-12-11 17:55] #179 closed

[2018-12-19 13:01] WANGLXUE commented on #164
@nikolausmayer sorry to bother you again.
I have tried your network, and it gives me useful informations.
My gpu is gtx980 which only have 4gb. I think it is not enough for Flownet2 adn kitti.
The weight is over 600mb it seems.
I can only use light weight which is just about 100 mb.

Do I need a gpu with big memory?

[2018-12-19 13:39] nikolausmayer opened #180 "FlowNet2 KITTI memory requirements"
_Originally posted by @WANGLXUE in https://github.com/lmb-freiburg/flownet2/issues/164#issuecomment-448589049_

[2018-12-19 13:41] nikolausmayer commented on #180
My GTX 970 with 4GB runs FlowNet2-KITTI just fine on a KITTI sample with 1226x370 pixels. My maximum memory consumption is less than 3400MB.
if you have multiple GPUs, make sure the network is using the correct one.

[2018-12-19 13:42] nikolausmayer commented on #164
@WANGLXUE please see https://github.com/lmb-freiburg/flownet2/issues/180

[2018-12-21 08:55] nikolausmayer commented on #164
@WANGLXUE please do not post off-topic in this issue; let's continue this discussion in #180

[2018-12-21 10:07] nikolausmayer commented on #180
@WANGLXUE
I just tested on a GTX 1080, and I can process 1920x730 images with the full _FlowNet2_ architecture. I don't have ready access to FlowNet2 on a larger GPU, so I can't tell whether 11GB VRAM are enough for 1920x1080.
If a newer FlowNet is ok too, you could try https://github.com/lmb-freiburg/netdef-docker which runs in TensorFlow and does not need as much memory.

[2019-01-06 12:02] SaltwaterLHL opened #181 "mean_layer.cpp"

[2019-01-06 12:03] SaltwaterLHL commented on #181
I have a questions about the mean_scale and output_scale value in the mean layer.

float input_scale = this->layer_param().mean_param().input_scale();
float mean_scale = this->layer_param().mean_param().mean_scale();
float output_scale = this->layer_param().mean_param().output_scale();

[2019-01-10 08:48] nikolausmayer commented on #180
(closed due to inactivity)

[2019-01-10 08:48] #180 closed

[2019-01-16 16:58] noufali opened #182 "Higher Resolution FlowNet"
Hello!

So I have successfully computed the optical flow of many videos with your model but I would love to take it to the next level and have super high quality resolution, say videos or images around 4000 pixels in width. I've been getting strange errors when I attempt to do this:

<img width="448" alt="screen shot 2019-01-16 at 11 56 28 am" src="https://user-images.githubusercontent.com/2203461

[2019-01-16 20:53] nikolausmayer commented on #182
Wow, that's impressive. I think Caffe (or a part of it) is hard limited to INT_MAX index sizes somewhere. INT_MAX is 2,147,483,647, but a layer with 4000 wide inputs and some nontrivial channel depth will hit that pretty quickly.

The biggest I've ever tried was 1920x1080, on a machine with 16GB RAM and 8GB VRAM. It was slow, but I think it worked. However, I don't remember which model I was runni

[2019-01-17 16:11] noufali commented on #182
Thank you for your detailed response! I will look into this and post any results I get 👍

[2019-02-08 04:53] neha-goswami opened #183 "make issues with openpose build"
I am having make issues with openpose. I am using Amazon aws deep learning AMI.

./lib/libcaffe.so.1.0.0: undefined reference to `google::protobuf::internal::AssignDescriptors(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, google::protobuf::internal::MigrationSchema const*, google::protobuf::Message const* const*, unsigned int const*, google::protobuf::Meta

[2019-02-08 08:14] nikolausmayer commented on #183
That sounds like you might be using an incompatible version of Protobuf; either a different release or one that is not compiled for C++11.

[2019-02-09 07:26] anksince89 commented on #49
Hi, I have three doubts:
1. In the correlation layer, before the correlation of images, the depth was 256, but after correlation, the depth becomes 441. How is this happening?
2. In the conv_redir part, are you taking only 16 filters and only for the first image?
3. What does "sqrt" mean in the figure?
Thank you. :)

[2019-02-09 11:37] nikolausmayer commented on #49
1. The "441" has nothing to do with the "256". The correlation layer processes a 21x21 neighborhood (10 distance in each direction), that comes out as 21*21=441 channes.
2. conv_redir only processes the first image, yes. I don't know about the "16 filters" part.
3. "sqrt" hear means that a "square root" function is applied to this blob.

[2019-02-18 17:07] adhara123007 opened #184 "There is no issue with the code. I can run it perfectly and produce results. Just wanted to ask if there is a better way to visualize the network. Right now the pictures I get from draw net are very small and difficult to discern."
There is no issue with the code. I can run it perfectly and produce results. Just wanted to ask if there is a better way to visualize the network. Right now the pictures I get from draw net are very small and difficult to discern.

[2019-02-18 19:16] nikolausmayer commented on #184
I don't have a better way to visualize the network :)  if you are not already using it, I suggest the `--rankdir TB` option; but it's still a massive image.

[2019-02-19 23:01] adhara123007 commented on #184
Thanks that helped !!

[2019-02-19 23:01] #184 closed

[2019-02-20 09:04] adhara123007 opened #185 "Cannot import custom layers in jupyter notebook"
Thanks for being active here in resolving queries.
This is more of a question since I am a little inexperienced with CAFFE.

I wanted to understand the functions of your custom layers like : resample_layer and data_augmentation layer (not present in the documentation).

So, I created a protxt file with these layers

name: "CaffeNet"
layer {
  name: "data"
  type: "Input"
  top: "data"
  input_para

[2019-02-20 14:06] nikolausmayer commented on #185
Your example works in my Python terminal (I don't have a Jupyter setup), but I had to enable GPU mode:
[code]

[2019-02-22 22:45] adhara123007 commented on #185
It works with my Python terminal . I will check again and close this issue.

[2019-02-23 08:15] zhuwanling opened #186 "warp"
Is class Resample2d a warp operation class?

[2019-02-23 10:18] nikolausmayer commented on #186
I am not sure what you mean by "warp operation". The `Resample2d` layer is a linear scaling operation, so I guess "yes", it is technically an edge case of image warping.

[2019-02-23 10:24] zhuwanling commented on #186
# warp img1 to img0; magnitude of diff between img0 and and warped_img1,
    resampled_img1 = self.resample1(x[:,3:,:,:], flownetc_flow)

Annotated warp  img1 to img0.
I understand that warp operation.

[2019-02-23 10:31] zhuwanling commented on #186
Thank you for your reply
Warp operation,I think it is img1 to img2 by Optical flow diagram。
I don't find the code of warp operation, can you tell me.

[2019-02-23 10:43] zhuwanling commented on #186
![8 aq_ ooq7 ck v tlszi](https://user-images.githubusercontent.com/25894416/53285400-e05a0d00-379a-11e9-8482-d7c8a6928ee8.png)

[2019-02-23 10:44] zhuwanling commented on #186
![mmg22317 72cr q4s5](https://user-images.githubusercontent.com/25894416/53285408-126b6f00-379b-11e9-8e5b-d03b5afbd4ff.jpg)

[2019-02-23 13:59] nikolausmayer commented on #186
Our warping layer implementation is in the `flow_warp_layer` files. `Resample2d` is _not_ a warping implementation in our code. It serves an entirely different purpose: forcing input dimensions to multiples of 64 during the deeper layers.

[2019-02-23 14:00] nikolausmayer commented on #183
(closed due to inactivity)

[2019-02-23 14:00] #183 closed

[2019-02-26 11:53] adhara123007 opened #187 "Convert Imageset and flow option fail when used with -g flag"
Hi,

Can I use grayscale images to train the network ? also,
I used the ../build/tools/convert_imageset_and_flow.bin with -g flag to convert my grayscale images to lmdb format for training. But it fails with the following error :
+1:
F0226 11:38:35.137490   296 convert_imageset_and_flow.cpp:350] Unknown db backend 0
*** Check failure stack trace: ***
    @     0x7f971922c5cd  google::LogMessage::F

[2019-02-26 11:54] adhara123007 commented on #185
Works

[2019-02-26 11:54] #185 closed

[2019-02-27 15:41] nikolausmayer commented on #187
(Disclaimer: I did not write that code)
Argh. I think `convert_imageset_and_flow.bin` uses different parameters than documented in the file header (those are valid for `convert_imageset` from which this is derived). It looks like the valid parameters are:
`convert_imageset_and_flow LISTFILE DB_NAME RANDOM_SHUFFLE[0 or 1] DB_TYPE["leveldb" or "lmdb"]`

This tool might not be able to deal with grays

[2019-03-01 11:51] agarwal-shubham commented on #49
Hi,
i have one small question regarding layer choice, why do we use conv_redir, I understand that as @nikolausmayer said we need input image information in addition to the correlation features, but if we use conv2a directly (without first passing through conv_redir) as input to conv3 layer (after concatenation with correlation features) will that not suffice. Also, we are just compressing the conv

[2019-03-04 08:20] nikolausmayer commented on #49
@agarwal-shubham I cannot give an authoritative answer, but I believe that "just compressing the conv2a to fewer channels" was the main reason for adding "conv_redir" instead of a concatenation.

[2019-03-11 03:10] adhara123007 opened #188 "Data Size allocation for flow when converting to LMDB"
In the code "convert imageset and flow" to convert to lmdb format, the number of channels for the flow is
2. The data size allocated is 2*2*width*height. As, I understand there is a horizontal and vertical component of the flo. Why do we need 2*2*width*height? It should be 2*width*height.

data_size=  3*width*height              // Image 1
                   +3*width*height              // Image 2

[2019-03-11 07:57] nikolausmayer commented on #188
You're right, there are 2×width×height components; but each component is stored as a `short`, i.e. 16 bits = **2** bytes. Compare to the image data which is 8 bit per color channel, and the occlusions which are stored as 1 bit per pixel.

We store flows as `short` integers to conserve space (the raw float flows do not compress well). We avoid too harsh quantization artifacts by scaling with 32.0 b

[2019-03-11 17:59] nikolausmayer commented on #186
(closed due to inactivity)

[2019-03-11 17:59] #186 closed

[2019-03-12 04:12] feipan664 commented on #135
It's still too slow to download for me. Located in Daejeon, Korea, the speed is about 30KB/s~ Any possibility to share on Google Drive or any other approachable way?

[2019-03-12 07:39] nikolausmayer commented on #135
@feipan664 you can try these torrents; you might be lucky and get another seeder with a better uplink to you:
http://academictorrents.com/details/20afbe18b5d1754b75deeefe4c2c74b17c9ea792
http://academictorrents.com/details/93a54256fe2f56dea2c7d247af11d9affa06a06d

(they are legit; I made them and we also seed them).

[2019-03-12 07:40] feipan664 commented on #135
@nikolausmayer  Very much thansk!

[2019-03-12 07:50] adhara123007 commented on #188
Thanks for the clarification.

[2019-03-12 07:50] #187 closed

[2019-03-16 21:50] adhara123007 opened #189 "Test loss stuck at 10.8 while training"
I tried training the Flownet2-CSS (only net3) with my own dataset. The test loss is stuck at 10.8. Do you have any idea why?

I0316 21:46:32.378043  8509 solver.cpp:229] Iteration 400, loss = 10.08
I0316 21:46:32.378368  8509 solver.cpp:245]     Train net output #0: net3_flow_loss2 = 896 (* 0.005 = 4.48 loss)
I0316 21:46:32.378394  8509 solver.cpp:245]     Train net output #1: net3_flow_loss3 = 22

[2019-03-18 07:46] nikolausmayer commented on #189
All your intermediate losses are always the same, too...  any chance that your dataset is a bit wonky? As in, just one sample? :slightly_smiling_face:

[2019-03-18 21:50] adhara123007 commented on #189
I don't think so. I actually modifed the convert_imageset_and_flow.cpp to create lmdb database from grayscale images. Then I changed the train.protxt to remove data augmentations related to color and then I ran the network for training. I also did suitable modifications like
correcting the slice points in the custom data layer.

[2019-03-19 10:48] adhara123007 opened #190 "How does the network work on grayscale images when it is trained on colored images?"
This is a very generic question and help with my understanding of the working is appreciated. How is the network able to give good results on grayscale images (with no color channels) when it is trained on colored images ? In other words, how do the 3d convolutional filters work when the image is grayscale? How do the trained weights of a 3D filter work on grayscale images?

[2019-03-20 04:09] guuusss opened #191 "How to fine-tune on sintel"
Hi, I'm a little confused about the fine-tune on sintel.

I have trained the Flownet-s on chairs for 600k itrations and then fine-tuned on sintel.

I find the model can not converge when i fine-tune on sintel ,the epe on validation set looks like this:

![2019-03-20 11-25-50 的屏幕截图](https://user-images.githubusercontent.com/32475718/54657526-bfb87500-4b04-11e9-85ed-12132f9f2b6d.png)

the validation

[2019-03-21 09:22] adhara123007 opened #192 "Understanding of network loss"
I am working with the FlowNet2-CSS network. The network reports a loss as follows

Sum_loss = net3_flow_loss2*0.005+net3_flow_loss3*0.01+net3_flow_loss4*0.02+net3_flow_loss5*0.08+ net3_flow_loss6*0.32

But when you are reporting the loss in the publication (FlowNet 2.0: Evolution of Optical Flow Estimation with Deep Networks), are you reporting this error or you are reporting only net3_flow_loss6?

[2019-03-21 12:22] nikolausmayer commented on #190
In my opinion, "grayscale" images are just a special case of color images, so a lot of the learned features work for grayscale as well as for color. You are only losing priors for e.g. green plants.
I've used DispNet for grayscale images before, and it's very resilient to that (although my inputs were technically 3-channel grayscale images).

I don't think we have true 3D convolutions in FlowNet2?

[2019-03-21 12:23] nikolausmayer commented on #191
What did you use for finetuning? Did you increase the learning rate again as we did in the paper (see "S_fine" schedule)?

[2019-03-21 12:35] nikolausmayer commented on #192
Note that the printed losses in your output range from loss6 (lowest resolution) up to loss2 (quarter-resolution). Our reported errors are EPE/AAE evaluations, i.e. the network output is upsampled to full resolution (if it isn't already there) and compared to the groundtruth.

What I can't tell you right now is whether our FlowNet2-CSS errors are from the loss2 that you are seeing, or from a FlowN

[2019-03-21 13:54] adhara123007 opened #193 "Can't train network on multiple GPUs"
Hi,

I am trying to train the network on multiple GPUs but I get the error:
F0321 13:50:58.896466   271 parallel.cpp:55] Check failed: total_size == (ptr == buffer ? 1 : ptr - buffer) (118335438 vs. 117426126)
*** Check failure stack trace: ***
    @     0x7fb6d90315cd  google::LogMessage::Fail()
    @     0x7fb6d9033433  google::LogMessage::SendToLog()
    @     0x7fb6d903115b  google::LogMessage

[2019-03-21 17:22] nikolausmayer commented on #193
Sorry, we never used Caffe on multiple GPUs and I have no experience with that.

[2019-03-22 03:21] guuusss commented on #191
Finetuing schedule i used in my experiment is listed as follows:

1. I train the FlownetS for 600k iterations using the S_short schedule ,and the final epe on validation set is 2.02.

2. Then,I choose the following scenes as the validation set as you did in [this](https://github.com/lmb-freiburg/flownet2/issues/141):
               ambush_6, bamboo_2, parts of cave_4, market_6, parts of temple_2;

[2019-03-22 05:36] ADHARACSM commented on #192
I ran the FlowNet2-CSS with the deploy.prototxt (using the weights I get from training using the train.prototxt provided by you). I see I get full resolution. Does it mean the upsampling can be avoided?

[2019-03-22 07:34] nikolausmayer commented on #192
@ADHARACSM The deploy prototxt file includes a final upsampling layer (type "Resample") which brings the flow output to the spatial resolution of the input, and then a "convolution" layer --- but that convolution is not learned, it only rescales the result to be a valid optical flow field (our architecture needs its input dimensions to be multiples of 64, so there is some rescaling done in deploy

[2019-03-22 07:39] nikolausmayer commented on #189
Hm. Did you check if the data looks feasible after augmentation? Since all your losses are constant, maybe your data does not make it all the way through the network.

[2019-03-22 13:07] adhara123007 commented on #193
Thanks

[2019-03-22 13:08] #193 closed

[2019-03-22 18:39] adhara123007 commented on #189
Thanks!! That helped.
Can you help me with one more thing ? the definition of the parameters during data augmentation layers you guys have defined.

I understand there is distribution. So, it needs a mean and spread. What is the parameter exp and prob?
Is it the p value in Bernoulli distribution?

[2019-03-22 19:39] nikolausmayer commented on #189
`exp`/`mean`/`spread` are explained in `src/caffe/proto/caffe.proto` (line 600 et seqq). `prob` specifies the Bernoulli probability that this augmentation is applied at all.

[2019-03-22 20:44] adhara123007 commented on #189
Thanks again !!

[2019-03-22 20:44] #189 closed

[2019-03-22 21:05] adhara123007 opened #194 "DataAugmentation Process"
Thanks Nikolaus fir being patient and answering so many of my questions, which brings me to my next one :)

I want to understand the data augmentation process. Lets look at FlowNet2-CSS. There are three layers. As I understand, Layer - 1 is DataAugmentation layer which applies the transformation to the "image-1" and generates "img0_aug" blob. It also generates "blob6" which has somehow stores the

[2019-03-22 21:06] adhara123007 commented on #192
Thanks again.

[2019-03-22 21:06] #192 closed

[2019-03-25 01:39] WormCoder opened #195 "Scripts that evaluating the model?"
Thanks for sharing
I trained my custom model and I want to evaluate its performance like EPE.
Did you share you evaluation scripts?

[2019-03-25 07:42] nikolausmayer commented on #195
No, but check out [KITTI's "development kit"](http://www.cvlibs.net/datasets/kitti/eval_scene_flow.php?benchmark=flow); it's all in there.

[2019-03-25 09:07] nikolausmayer commented on #194
Yes, an additional set of augmentations is applied to the second image. This simulates effects like lighting condition changes, but also introduces geometric variation (we took a look at these elements in [an IJCV paper](https://lmb.informatik.uni-freiburg.de/Publications/2018/MIFDB18/)).
Note that blob6 and blob7 are used by the layer which processes the groundtruth flow so it matches the images'

[2019-03-25 10:15] adhara123007 commented on #194
I tried taking the output from blob7  (using the following prototxt file) and have a look at it.
blob = np.squeeze(net.blobs['blob7'].data). I get the following error:

[libprotobuf ERROR google/protobuf/text_format.cc:274] Error parsing text-format caffe.NetParameter: 67:9: Message type "caffe.LayerParameter" has no field named "layer".
WARNING: Logging before InitGoogleLogging() is written to ST

[2019-03-25 15:57] nikolausmayer commented on #194
The error message is due to your file missing a `}` after the `img0s_aug` layer, I think.
The `coeff_schedule_param` looks like it ramps up the magnitude of all augmentations over time.

[2019-03-26 07:11] WormCoder commented on #195
thanks a lot

[2019-03-26 07:11] #195 closed

[2019-03-26 10:30] WormCoder opened #196 "About 2 Flyingthings-3D dataset"
I found two flyingthings-3D dataset in your page (https://lmb.informatik.uni-freiburg.de/resources/datasets/SceneFlowDatasets.en.html)

And I downloaded the "DispNet/FlowNet2.0 dataset subsets", which has images about 35G.
In your paper, it seems that you used the other one, which has images about 37G.
What's the difference between the two datasets? To train flownet2, must I download the other one

[2019-03-26 10:58] nikolausmayer commented on #196
The "subset" datasets represent what we used to train FlowNet2. They omit some very hard samples.

The original datasets have significantly more data. This could also be of use.

To reproduce our FlowNet2, use the "subset" datasets.

[2019-03-26 11:44] WormCoder commented on #196
@nikolausmayer Thanks for your reply.
I am new to optical flow and confused about the data. I found the folders, left and right in the Image_clean folder of "subset" dataset. What's the difference between the right and left? And Which one should be used for training?

"val/image_clean/left/0000108.png"  and  "val/image_clean/left/0000109.png" are from two different videos, so what's "val/flow/left

[2019-03-27 08:41] nikolausmayer commented on #191
I am afraid I do not really have an answer. The network can definitely train on Sintel, and I do not have an intuition for what specifically may be going wrong with yours.

I think if anyone had an answer to this question, the optical flow research community would be very interested in hearing it :wink:

[2019-03-27 09:19] guuusss commented on #191
Thank you for your patient explanations:smile:,it is my first step to the optical flow,I'm sorry to have asked you so many questions.
I think it may be caused by the learning rate,I do not know if it was right.When i test the leaning rate in [this](https://arxiv.org/abs/1809.05571v1) , my model can really converge, Maybe this learning rate fits my model? The learning rate looks like this:

![image

[2019-03-28 08:19] nikolausmayer commented on #191
- your learning rate should be ok, even though it's not the same as our schedule.
- your validation agrees with this and indicates good convergence
- however, your test loss is really extremely good and this could indeed mean that overfitting is happening. I'm not sure what to make of this in combination with your validation loss which looks good.
- you write that your network "works worse in the

[2019-03-28 11:03] guuusss commented on #191
Thank you so much, i will take some means to regularize the model.

[2019-04-02 12:11] #194 closed

[2019-04-02 12:35] adhara123007 opened #197 "The process of online data augmentation"
I wanted to understand the online process of data augmentation.
I give the network inputs in batches of 4. It applies transformation to the inputs.  The parameters for augmentation are. The prob is 1, Does it mean that the network always applies a transformation and it is never the case that the network lets the original data pass through without the transformation?

Also, from the code below the

[2019-04-02 12:36] #190 closed

[2019-04-05 08:44] adhara123007 opened #198 "DispNetCorr1D always gives negative values"
Hi,

This is regarding the DispNet network. I am using the DispNetCorr1D network to register images. I understand the network is only trained to register Right image to the left image. Thus the DispNetCorr1D always gives negative values. In my case, I want to get both positive and negative values of shift. How can I use the weights of the current network to register both Left to Right images and R

[2019-04-08 10:59] nikolausmayer commented on #197
I think so, yes. I suggest testing it, though: just run 10k samples through the augmentation and check how many are the same before and after.

[2019-04-08 11:00] nikolausmayer commented on #198
duplicate of https://github.com/lmb-freiburg/dispnet-flownet-docker/issues/14

[2019-04-08 11:00] #198 closed

[2019-04-08 11:00] #191 closed

[2019-04-08 11:01] nikolausmayer commented on #182
(closed due to inactivity)

[2019-04-08 11:01] #182 closed

[2019-04-18 19:35] #197 closed

[2019-04-21 01:56] deepcharle opened #199 "Questions about Kiiti training"
Thank you for your excellent work in optical flow. Note that the groundtruth flow values in Kiiti is very sparse, how do you deal with this case when you augment the image pairs and corresponding optical flow to keep it from interpolating with nonsense zero optical flow values?

[2019-05-05 03:00] xianshunw commented on #95
@chenchr Which dataset did you train to get this result?

[2019-05-05 08:49] adhara123007 opened #200 "Parameters in L1 loss layer"
Hi Nikolaus,

Can you help me to understand the parameters in the L1 loss layer ?
what does the parameter 'l2 per location' do?

For example, How is one different from two?
---------one--------------------------------------
layer {
name: "flow_loss6"
type: "L1Loss"
bottom: "predict_flow6"
bottom: "blob30"
top: "flow_loss6"  loss_weight: 0.2
 l1_loss_param { l2_per_location: false    normalize_by_n

[2019-05-06 10:34] nikolausmayer commented on #200
See `src/caffe/layers/l1loss_layer.cpp`, lines 11 et seqq.

Without `l2_per_location`, the `L1Loss` layer simply computes the difference between estimate and groundtruth.
With `l2_per_location`, this difference is further subjected to a square-sum-squareroot computation (the sum is implemented as a 1×1 convolution) which leads to more punishment for outliers.

I believe `normalize_by_num_entries`

[2019-05-06 10:39] nikolausmayer commented on #199
If I remember correctly, we do not use geometric augmentation for KITTI. I'm pretty sure that our data augmentation cannot deal with NaN pixels.

The KITTI setting is so tightly constrained that any change to the data bears a significant risk of destroying the advantage you hope to gain by finetuning. Stretching, warping, or rotating images makes no sense because the KITTI test set has none of the

[2019-05-08 09:18] deepcharle commented on #199
thank you very much for your reply

[2019-05-08 09:18] #199 closed

[2019-05-09 18:26] adhara123007 commented on #200
Thank You very much. It was really helpful.

[2019-05-09 18:26] #200 closed

[2019-05-13 15:24] zhanghaozhou commented on #93
@mehameha998
hi,

Did you solve this problem of blank flow? I got the same error. Thanks a lot for your help!!

Best regards,
Haozhou

[2019-05-14 05:41] priyank1574q commented on #78
@nikolausmayer I am facing the same issue.
Yes, I have the libhdf5-dev package installed but I am not able to locate and hdf5.h file.

[2019-05-14 07:02] nikolausmayer commented on #78
@priyank1574q if `locate hdf5.h` does not report anything, your "locate" database might just be out of date. Try `find /usr -name hdf5.h`. If that does not work, try reinstalling the package.

[2019-05-14 14:10] zhanghaozhou opened #201 "Optical flow blank"
@nikolausmayer
Hi,
I'm testing your codes with the images provided in data examples. However, the output flow for all models are blank with [0,0] for all pixels. I find a similar issue with the same problem but it has not been resolved. Could you please give me some ideas to detect or fix this problem?

Thank you so much!!

Best regards,
Haozhou ZHANG

[2019-05-14 14:44] nikolausmayer commented on #201
Unfortunately, we do not know the cause of this problem. It might be some weird incompatibility in a specific combination of Nvidia driver, CUDA, and CuDNN, but we have never reproduced the problem on our various setups and we have had a lot of different setups.

We cannot help in this case, sorry.

If you have further information, please feel free to enhance this issue, else I will close it as du

[2019-05-18 08:00] zhanghaozhou commented on #201
@nikolausmayer
Hi nikolausmayer,

Thank you for your response. According to your advice, I finally solved this problem by changing my CUDA version from 7.5 to 8.0.

Thanks:)

Best regards,
Haozhou

[2019-05-20 06:57] #201 closed

[2019-05-20 07:25] zhanghaozhou opened #202 "Multi gpu for training and snapshot"
@nikolausmayer
Hi Nikolaus Mayer,

I am trying to reproduce the results in the paper using your code. I have two questions about the training period.

1. Is it possible to use multi gpu while training by adding "--gpu 0,1"?

2. If I did not misunderstand, the data augmentation of each time is different. As a result, if my training period stop and I restart it by using "--snapshot ....caffemodel",

[2019-05-20 07:50] nikolausmayer commented on #202
1. I don't know if our Caffe version supports multi-gpu training. We never used it with Caffe. Just try it? :wink:

2. I would say it does not matter. It is ok that your network turns out a little bit better or worse than our numbers (we only trained each network once). Augmentation randomness and the order of training data always lead to training variance.
It matters if you want to compare fine d

[2019-05-21 07:22] zhanghaozhou commented on #202
OK I will test. Thank you for your response:)

[2019-05-21 07:46] zhanghaozhou commented on #90
@zmlshiwo
Hi zmlshiwo,

I am also trying to reproduce the results in the paper. Since the script for evaluating the EPE is not provided, could you please tell me how you evaluated your models?

Thanks a lot!

Haozhou

[2019-05-21 16:11] zhanghaozhou commented on #90
@shidahu
Hi shidahu,
I am also trying to reproduce the results in the paper. Since the script for evaluating the EPE is not provided, could you please tell me how you evaluated your models?

Thanks a lot!

Haozhou

[2019-05-22 13:19] Cryptiex opened #203 "Flownet2 outputs completely white flow"
I'm currently trying to evaluate the flow between an object in two different images. One image is the observed camera image and the other one a rendered version of the object using a colored 3D model.
A mask of the object is added to both the observed and rendered image to yield two images with four channels.

More specifically, I'm following the approach published by:
[https://github.com/liyi14/m

[2019-05-23 06:23] nikolausmayer commented on #203
"Zero flow" may be caused by a subtly incompatible CUDA version. Please check if https://github.com/lmb-freiburg/flownet2/issues/201 works for you.

It might also be worth double-checking that you are not feeding the same image twice to FlowNet2 :wink:

[2019-05-23 07:52] Cryptiex commented on #203
Thanks for the quick reply. I do not believe that this issue is based on the CUDA version since Flownet2 works for me on the ape model of the LINEMOOD6D dataset as shown here:

![ape_concat_4channels](https://user-images.githubusercontent.com/24294489/58234874-e894fa80-7d3f-11e9-92d7-faffaf6c3cef.png)

This is the output of the Flownet2 with my own 3D model. The object is centered and not in the u

[2019-05-23 08:04] nikolausmayer commented on #203
Ok, that's good. FlowNet2 is definitely robust against not _perfect_ color matches, but I never tried real vs rendered objects. Would it be possible for you to post an example image pair (or, if not, to send it to me via mail)?

[2019-06-05 14:26] adhara123007 opened #204 "training prototxt file reading only limited entries in lmdb file"
Dear Sir,

I installed your software. I have 50000 entries in my lmdb file but when I run the training prototxt file, it reads only 13000 files.
Can you please let me know the reason for that? What checks should I perform?

Thanks and Regards,
Arnab

[2019-06-10 20:14] kindloaf opened #205 "train.prototxt for flying chairs"
I'm trying to train flownet_S using flying chairs data.
The doc says train.prototxt should be created based on train.prototxt.template, and "make sure the correct parts of the network are enabled by setting/adding loss weights and blob learning rates."

I did the following changes, do they look good / complete?

[code]

[2019-06-11 08:09] nikolausmayer commented on #205
I think that should work for an "S" net on FlyingChairs, yes.

[2019-06-11 10:24] nikolausmayer commented on #196
"left" and "right" are stereo views.

You could use `val/flow/left/into_future/0000108.flo` for future flow prediction, but for optical flow training it is generally not useful. We just include it because it is available.

I added information about the lengths of individual sub-videos to the [datasets page](https://lmb.informatik.uni-freiburg.de/resources/datasets/SceneFlowDatasets.en.html).

[2019-06-11 16:19] nikolausmayer commented on #203
(closed due to inactivity)

[2019-06-11 16:19] #203 closed

[2019-06-11 16:19] kindloaf commented on #205
Cool. Thanks.

[2019-06-11 16:19] #205 closed

[2019-06-13 19:53] kindloaf opened #206 "Generating .prototxt files"
Where can I find the script to generate the .prototxt files, e.g., models/FlowNet2-S/FlowNet2-S_train.prototxt.template?

[2019-06-14 07:58] nikolausmayer commented on #206
We do not provide a script to generate the training files, but they follow the same structure as the deploy files (with crops instead of resampling).

For deploy files, you should be able to adapt [the runscript from our Docker version](https://github.com/lmb-freiburg/flownet2-docker/blob/master/FN2_run-flownet-docker.py#L99).

[2019-06-14 07:59] nikolausmayer commented on #204
We never used the lmdb format — I'm afraid I can't help here.

[2019-06-14 08:11] adhara123007 commented on #204
Hi Nikolaus,

But your training protxt file says lmdb. This is from the FlowNet2-CSS_train.prototxt

layer {
  name: "CustomData1"
  type: "CustomData"
  top: "blob0"   # Image 0
  top: "blob1"   # Image 1
  top: "blob2"   # Flow ground truth
  top: "unused1" # Occlusions, remove if not present
  include {
    phase: TRAIN
  }
  data_param {
    # THIS IS ONLY AN EXAMPLE:
    # replace the followi

[2019-06-14 14:25] nikolausmayer commented on #204
Yes, but I don't actually now what the "CustomData" layer is and who wrote it :confused:. I never used it, and we always use our own custom storage solution.
Have you tried the [official tutorial](http://caffe.berkeleyvision.org/tutorial/data.html) which uses LMDB on MNIST?

[2019-06-17 06:33] xianshunw commented on #204
@adhara123007 how is your problem solved?

[2019-06-18 06:55] nikolausmayer commented on #202
(closed due to inactivity)

[2019-06-18 06:55] #202 closed

[2019-07-03 17:25] vivasvan1 commented on #12
same problem. Any updates?

[2019-07-03 17:49] vivasvan1 opened #207 "Check failed: mdb_env_open(mdb_env_, this->layer_param_.data_param().source().c_str(), 0x20000|0x200000, 0664) == 0 (2 vs. 0) mdb_env_open failed"
I am trying to fine tune flownet-sd on my dataset.
I have created LMDB file using this command
../build/tools/convert_imageset_and_flow.bin MyDataset_release.list MyDataset_TRAIN_relese_lmdb 0 lmdb
my image_size are 800*600

### **error message :**

I0703 19:26:12.457754 27220 layer_factory.hpp:77] Creating layer CustomData1
I0703 19:26:12.457769 27220 net.cpp:93] Creating Layer CustomData1
I0703

[2019-07-03 18:02] vivasvan1 commented on #207
Also with trying to fine tune complete FlowNet2.
I get this error

F0703 20:00:46.152436 29542 insert_splits.cpp:29] **Unknown bottom blob 'img0_a_org' (layer 'crop_params', bottom index 0)**
*** Check failure stack trace: ***
    @     0x7f22e12570cd  google::LogMessage::Fail()
    @     0x7f22e1258f33  google::LogMessage::SendToLog()
    @     0x7f22e1256c28  google::LogMessage::Flush()
    @

[2019-07-03 19:27] vivasvan1 commented on #207
one thing i notice here is my lmdb folder is of size 486MB
where as my dataSet folder for which i am generating Lmdb is 1.2GB.
./make-lmdb.sh runs with out any errors too

[2019-07-04 10:04] vivasvan1 commented on #74
i am having the same issue ... how to fix?

[2019-07-08 07:11] nikolausmayer commented on #206
(closed due to inactivity)

[2019-07-08 07:11] #206 closed

[2019-07-08 07:11] nikolausmayer commented on #196
(closed due to inactivity)

[2019-07-08 07:11] #196 closed

[2019-07-09 12:10] #207 closed

[2019-07-09 12:12] vivasvan1 commented on #207
I was giving the wrong path XD oops ...

[2019-08-06 23:01] withinnoitatpmet opened #208 "diagonal filler in Flownet_S deploy"
Hi, I am a little bit confused about the function of diagonal filler in last Conv Layer of flownet_s deploy prototxt. Could you please explain this for me? Thanks in advance.
layer {
  name: "scale_conv1"
  type: "Convolution"
  bottom: "predict_flow_resize"
  top: "predict_flow_final"
  convolution_param {
    num_output: 2
    pad: 0
    kernel_size: 1
    stride: 1
    weight_filler {
      typ

[2019-08-07 06:59] nikolausmayer commented on #208
That layer rescales the output flow.

The network needs input resolutions which are multiples of 64. Inputs that do not match this are rescaled to the next-higher fitting resolutions in X and Y independently. This means that the raw network output is a valid flow for the rescaled input, but not for the original input.

This final layer just rescales the raw network output by the X/Y factors which

[2019-08-07 16:08] leungyukshing opened #209 "How can I test dataset with png format?"

[2019-08-07 17:07] withinnoitatpmet commented on #208
Thank you so much for your prompt reply!

[2019-08-07 17:07] #208 closed, assigned to nikolausmayer

[2019-08-08 06:31] nikolausmayer commented on #209
like this: https://github.com/lmb-freiburg/flownet2#running

[2019-08-08 16:00] leungyukshing commented on #209
Thanks! It's very helpful!
By the way, I'd like to know where is the preprocess codes located? I am
curious about the stuffs like the preprocessing tricks. Thank you!

Nikolaus Mayer <notifications@github.com> 于2019年8月8日周四 下午2:31写道：

--
*梁育诚*
*Leungyukshing*

Junior Student | 学生
School of Data and Computer Science | 数据科学与计算机学院
Sun Yat-sun University | 中山大学·广州·中国

*There is no excuse for not trying

[2019-08-09 07:04] nikolausmayer commented on #209
I don't think we have any "preprocessing tricks". Could you be more specific? We have input/output rescaling in `run-flownet.py`; everything else is network augmentation.

[2019-08-10 09:58] leungyukshing commented on #209
Got it! the network accept what size of picture? I want to know more about
the rescaling details. Thanks!

Nikolaus Mayer <notifications@github.com> 于2019年8月9日周五 下午3:04写道：

--
*梁育诚*
*Leungyukshing*

Junior Student | 学生
School of Data and Computer Science | 数据科学与计算机学院
Sun Yat-sun University | 中山大学·广州·中国

*There is no excuse for not trying.*

Work Email: jacky14.liang@gmail.com | Mobile: +86 185-650

[2019-08-12 06:08] nikolausmayer commented on #209
The core net needs multiples of 64 in both x and y dimension. I suggest reading the script: https://github.com/lmb-freiburg/flownet2/blob/master/scripts/run-flownet.py#L43

[2019-08-14 15:34] leungyukshing commented on #209
Thanks! Last question, how can these codes accept different types of input?
Both png and ppm files are work.

Nikolaus Mayer <notifications@github.com> 于2019年8月12日周一 下午2:08写道：

--
*梁育诚*
*Leungyukshing*

Junior Student | 学生
School of Data and Computer Science | 数据科学与计算机学院
Sun Yat-sun University | 中山大学·广州·中国

*There is no excuse for not trying.*

Work Email: jacky14.liang@gmail.com | Mobile: +86 185

[2019-08-14 16:41] nikolausmayer commented on #209
We use the function `scipy.misc.imread` from SciPy. It supports lots of format ;)

[2019-08-14 16:57] leungyukshing commented on #209
Thanks for all your helps! Appreciate it!

Nikolaus Mayer <notifications@github.com> 于2019年8月15日周四 上午12:41写道：

--
*梁育诚*
*Leungyukshing*

Junior Student | 学生
School of Data and Computer Science | 数据科学与计算机学院
Sun Yat-sun University | 中山大学·广州·中国

*There is no excuse for not trying.*

Work Email: jacky14.liang@gmail.com | Mobile: +86 185-6504-3306
<%2B86%20155-2122-6599>
WhatsApp: +86 18565043306 <%2B8

[2019-08-14 17:00] #209 closed, assigned to nikolausmayer

[2019-09-01 01:46] Evidlo commented on #48
I'm also having the same issue.  I wanted to try out flownet on a handful of images without the hassle of installing CUDA.

[2019-09-02 06:02] nikolausmayer commented on #48
@Evidlo "freedom from hassle" is exactly what we made https://github.com/lmb-freiburg/flownet2-docker for :wink:

[2019-09-06 13:44] andiconda commented on #67
Solution:
1. $ make clean
(not rm -rf ./build)
2. add opencv_imgcodecs to opencv_core opencv_highgui opencv_imgproc in Makefile not Makefile.config ,that worked.
3. Uncomment opencv:=0  in Makefile.config
that works for me. especiaily the step 3.

[2019-09-19 11:04] mrgransky commented on #92
@Maryada-27, I seriously love u <3 <3 cuz it is compiling now ....  :)

[2019-09-25 15:02] lesurp commented on #60
Hi!

Bit late to the party, but I'm encountering the same issue:
[code]

Funny thing, this is on a remote server - the project compiles fine on my local machine. Do you know if this should work with `g++-4.8`? This is the only difference I can come up with between the two set ups...

Edit: it seems the file `.build_release/lib/libcaffe.so` doesn't actually contain those missing symbols, strange...

[2019-09-26 10:41] nikolausmayer commented on #60
@lesurp
does your `libcaffe.so` contain *other* symbols for `writeFloFile` etc? It might possibly be a C++11 issue (which could then be related to your GCC version).

[2019-10-01 13:17] lesurp commented on #60
Sorry for the waste of time, I found the problem.

There was already a system-wide caffe installation, and despite adding the directory containing the library built by this repo (`-Lbuild/lib`), it was still linking with the system `libcaffe.so`...
Quick fix was to change, in the `Makefile`, the link command to link to the `build/lib/libcaffe.so` file directly (although I managed to change my envi

[2019-10-01 13:46] lesurp opened #210 "Confused about the FlyingThings3d dataset"
Hi,

I'm trying to generate my own `FlyingChairs_release.list` but for the FlyingThings3d dataset (`FlyingThings3D_release.list`), however I'm slightly confused. What are the two frames corresponding each flow groundtruth?

In the FlyingChairs dataset, the matching is rather obvious:

[code]

But for the FlyingThings3D, I have:
[code]

What image pair does `OpticalFlowIntoFuture_0006_L.pfm` corres

[2019-10-01 15:38] lesurp commented on #112
Hi, sorry, yet another uninformed question here..!

How should I go with training the `FlowNet2-CSS` model more precisely? Does the `train.prototxt` handle fixing C then S (although nothing in the file hints at that, it seems to me).
Or do I need to first train `FlowNet2-C` then `Flownet2-CS` etc. myself, reusing the previously computed weights (and if so, how shall I pass those weights to the nex

[2019-10-02 14:04] nikolausmayer commented on #112
@lesurp the provided prototxt files do **not** handle the stage-wise training. That you have to do yourself :)

[2019-10-02 14:07] nikolausmayer commented on #210
Yes, exactly. Your confusion is understandable; the raw dataset contains flow groundtruth even for the "edge" frames of a sequence, but if you want to do supervised training, you should ignore all `0015` "forward" flows and all `0006` "backward" flows (because the corresponding images 0016 and 0005 are not in the dataset).

[2019-10-14 07:28] nikolausmayer commented on #210
(closed due to inactivity)

[2019-10-14 07:28] #210 closed, assigned to nikolausmayer

[2019-10-29 06:17] WormCoder commented on #89
@Feiyue-Peng Do you know how to perform forward flow warpping?

[2019-11-07 16:03] r0drigor opened #211 "Mean layer question"
Hello, I'm trying to figure out why are there 4 values in the Mean layer.
You have "input_scale" and the rest are just stated as "values".
@nikolausmayer

`layer {`
`  name: "Mean1"`
`  type: "Mean"`
`  bottom: "img0"`
`  top: "img0_aug"`
`  mean_param {`
 `   operation: SUBTRACT`
`    input_scale: 0.0039216    `
`    value: 0.411451`
`    value: 0.432060`
`    value: 0.450141`
`  }`
(These were t

[2019-11-07 16:14] r0drigor commented on #211
I was misunderstanding the code in mean.cpp. Each "value" is for each color channel, I'm guessing since there is no mean_scale or output_scale, they stay at 1.

[2019-11-07 16:14] #211 closed, assigned to nobody

[2019-11-18 04:00] xubin1994 opened #212 "Train dataset"
Hi,I saw on the sceneflow dataset website that you mentioned that you have customized a Flything3D subset. In this subset you ommitted some extremely hard samples. So my question is what is the standards for the "extremely hard samples"?And If  using the original Flything 3D subset, what impact will it have on the network?
![image](https://user-images.githubusercontent.com/28856641/69023333-609363

[2019-11-18 10:05] nikolausmayer commented on #212
IIRC "extremely hard" samples have disparity magnitudes > 300 pixels (I am not sure whether there was also a flow criterion, but I do not think so). I think training on the original full set should still work well, maybe a bit slower.

[2019-11-18 11:00] xubin1994 commented on #212
I traversed the Flything3D subset, and the subset still has a few samples containing more than 25% of the pixels, which disparity magnitudes > 300。This makes me more curious about the screening.

[2019-12-02 04:03] xuzhongyou commented on #9
Have you solved the probelm, i can import caffe in python with no problem.

[2019-12-03 12:36] abrosua opened #213 "Data augmentation parameter"
Hi, I have a question regarding the augmentation parameters that are being used (e.g., -20% to 20% translation, etc).

I noticed that you didn't explicitly state the augmentation parameters to train FlowNet2 in the paper. Did you use the same parameter as the one that written in the [FlowNet paper](https://arxiv.org/pdf/1504.06852.pdf) (written below)?

I find it quite hard to understand the caffe

[2019-12-03 15:29] nikolausmayer commented on #213
I can't give you an authoritative answer, but let me try to infer from the network definition:
- zoom in [1, 1.4]
- translation in [-0.4, 0.4] (of image size)
- rotation in [-22, 22] (degrees) (more would probably lead to issues with valid cropping)
- gaussian noise with magnitude in [0, 0.06] (that's probably a \sigma within a normalized [0,1] value range)
- contrast, saturation, additive/multipl

[2019-12-04 02:40] abrosua commented on #213
Thanks for the answers!

Just a quick question, the random cropping is performed at the end of the augmentation (after translation, rotation, gaussian noise, contrast, etc), isn't it?

[2019-12-04 07:21] nikolausmayer commented on #213
yes!

[2019-12-04 15:16] abrosua commented on #213
Noted! Thanks for your recommendations!

[2019-12-04 15:16] #213 closed, assigned to nikolausmayer

[2020-01-23 17:16] r0drigor opened #214 "weight distribution for deconv layer"
This might be a question that is more about caffe than FlowNet but I'll ask here anyway.
I'm doing some work with FlowNet2-s (the first iteration of the project), and I'm using MATLAB to get the weight values for each layer and I can't understand why the deconvolution layers' weights use a different structure than regular convolution.
(I'm using `net.params('conv1').get_data()`).

For regular conv

[2020-01-24 09:34] nikolausmayer commented on #214
This is just a quick guess, but "deconvolution" is implemented as transposed convolution (both layers directly use the `cublasSgemm` matrix multiplication).

[2020-01-24 11:34] r0drigor commented on #214
I can't find any documentation on any of this, but maybe I'm just not looking hard enough.
There's probably some kind of transposition on the height and width parameters, right?
I'm having some difficulty getting reasonable values and it might be an explanation.

Thank you for the fast response.

(After your answer you can lock this issue)

[2020-01-27 10:40] nikolausmayer commented on #214
I think it's common to implement these "deconvolutions" like that; see e.g. http://deeplearning.net/software/theano_versions/dev/tutorial/conv_arithmetic.html#transposed-convolution-arithmetic

You can check the `Forward_cpu` implementations in the `conv` and `deconv` layers, they should match the method in the link.

I can't tell you why exactly the parameters are structured differently; I can on

[2020-02-15 19:20] rehanpunjwani commented on #73
can't find my caffe_path. I have installed Caffe using ubuntu apt command! Please help me with this.

[2020-02-16 11:58] rehanpunjwani commented on #9
@nikolausmayer  I have run env script but still getting the same error. I am trying to run it on Google Colab! Please help me with this.

[2020-02-17 07:59] nikolausmayer commented on #73
@Rehan-Rehman-Punjwani
`I have installed Caffe using ubuntu apt command`
The normal Caffe will not work. You need to compile the Caffe code in this repository (and that is then also your `caffe_path`).

[2020-02-19 19:15] rehanpunjwani commented on #73
@nikolausmayer I am compiling it your Caffe on google colab and still getting the augmentation error!

[2020-02-20 07:50] nikolausmayer commented on #73
@Rehan-Rehman-Punjwani The error `Message type "caffe.LayerParameter" has no field named "augmentation_param"` indicates that when you execute the network, it loads something that is not coming from our Caffe; probably something with Protobuf.
This *typically* happens when there are multiple Caffe installations on a machine without a clean separation, but it may happen in other cases that I have n

[2020-03-24 10:56] Thomas-Mccabe commented on #158
Hi,

Alhersh, I have ran into the same issue. Have you had any luck solving this?

Thank you,
Tom

[2020-03-27 18:34] rozos commented on #73
Why your Caffe is different than the official Caffe? If every Caffe application comes with a tailored Caffe then ...

[2020-03-28 11:39] nikolausmayer commented on #73
@rozos I understand and agree with the criticism. Multiple reasons.

Because it was 2016 and the spirit of making your own research code runnable by others with no effort was not yet strong in our group.
Because we needed custom layers and Caffe being a C++ framework wasn't really as conducive to shipping your own layer code as, say, Python.
Because while you are working on a paper, keeping up wit

[2020-03-28 12:00] rozos commented on #73
Thanks for the reply. After all, Caffe is not an active project, so
transition to TF was a good choice.

On 28/03/2020 13:39, Nikolaus Mayer wrote:

[2020-03-30 07:53] nikolausmayer commented on #73
I like to think so, too :slightly_smiling_face:

[2020-03-30 18:53] lelelexxx commented on #213
Thanks for your kind replies!
Could you please explain the purpose of  "check if all 4 corners of the transformed image fit into the original image"  in layers/augmentation_layer_base.cpp， As far as I concern，in this way, we can perform geometry augmentation which won't lead to black conners. But in generate_valid_spatial_coeffs(), you check the [0, cropped_hight],[cropped_width, cropped_hight] ,[

[2020-03-31 06:35] nikolausmayer commented on #213
@lelelexxx in `layers/augmentation_layer_base.cpp', lines 146–156, the crop coordinates are transformed into the generated random crop area. The corner points already check whether the *final* augmented area can be cropped from the original image without black corners.

[2020-03-31 07:41] lelelexxx commented on #213
Thanks for your reply, But I think I didn't represent myself clearly, apology for my poor English.  I have read about lines 146-156, and though these code, the central crop box [0, cropped_hight],[cropped_width, cropped_hight] ,[0, 0], [cropped_width, 0] is transformed using the random generated affine coeff. But in my opinion, I thought we should use the inverse of the affine coefficient to map t

[2020-03-31 10:02] nikolausmayer commented on #213
The augmentation kernel in `layers/SpatialAugmentation.cu` (line 25) uses backward-warping to generate the augmented crop. It retrieves pixels from the original image using the same computation as the corner-check for crop validity. This might be confusing if you are used to forward-warping (in which case you are right and the transformation would have to be inverted).

The crops are random. `laye

[2020-03-31 12:34] lelelexxx commented on #213
Thanks, I have read all issues about Augmentation, and I have to say, you are such a nice guy and always so patient.
Sorry, I can't find layers/spatialAugmentation.cu , is this file in this repo?
let me go thourgh this process once again, At first we generate the geometry params for augmentation including crop coordinates, then we use backward-warping to check if the generated geometry params is i

[2020-03-31 14:37] nikolausmayer commented on #213
Eh right, that was another codebase, my bad. it should be in `layers/data_augmentation_layer.cu`, line 25.

That sounds right, yes, except that the "cropping" at the end is not a separate step (i.e. not "transform then crop")—rather, the final augmented patch is directly sampled from the original image. The validity-check and the actual crop generation should be the same process, just for some rea

[2020-05-06 12:43] shimhyeonwoo opened #215 "data augmentation horizontal flip"
I found there is a parameter 'mirror' in data augmentation layer.
I guess it's about horizontal flip of image and flow data.
( I hope to add horizontal flip augmenting input data, during training)
However, I can't use it properly.
I tried to understand the source code several days, but i couldn't.

If I want add horizontal flip augmentation during training, how can i edit the augmentation layer pa

[2020-05-08 09:41] nikolausmayer commented on #215
Hi,

to use the horizontal flip augmentation, add this to your augmentation layer's prototxt, in the `augmentation_param` section:

[code]

You might also need to add it to the `GenerateAugmentationParameters` layer. Note that you need to specify the "XXX" parameters which determine when this augmentation triggers.

[2020-05-09 05:25] benprofitt commented on #48
Was anyone ever able to find a solution to the original problem? I have an AMD GPU and unfortunately cannot use CUDA. :(

[2020-05-11 08:27] nikolausmayer commented on #48
@benprofitt Unfortunately we do not have the capacity (or expertise) to provide support for this. Perhaps one of the numerous alternative implementations in PyTorch or TensorFlow can be used in your case (you can find some on GitHub). I cannot say for sure; I have never tested that.

[2020-05-11 15:19] benprofitt commented on #48
@nikolausmayer Thank you for taking the time to respond, I will look into those options!

[2020-05-12 12:09] nikolausmayer commented on #214
(closed due to inactivity)

[2020-05-12 12:09] #214 closed, assigned to nikolausmayer

[2020-05-22 01:40] shimhyeonwoo commented on #215
I really appreciate for your help!

[2020-05-22 07:06] shimhyeonwoo commented on #215
About adjusting "XXX" parameters...

refering to "message AugmentationCoeff" in "caffe.proto", the default value of "float mirror" is zero:
[code]

And line 138, in "augmentation_layer_base.cpp", it seems I can use mirror augmentation when "float mirror" is not zero. maybe it means, when the "mirror" is not zero it always flip data :

[code]

If my opinion were right, and I want use horizontal fli

[2020-05-25 06:43] nikolausmayer commented on #215
You can choose from different distributions; check [rng.cpp](https://github.com/lmb-freiburg/flownet2/blob/master/src/caffe/util/rng.cpp) for a list and the implementations. If you want a fixed 30% probability for a binary decision, you might want to use the `bernoulli` variant with the `prob` parameter set to 0.3.

[2020-05-27 04:48] shimhyeonwoo commented on #215
Oh, there is more appropriate distribution.

[code]
Thank you.

[2020-05-27 04:48] #215 closed, assigned to nikolausmayer

[2020-05-27 19:05] huatson opened #216 "3D motion vectors"
Great source of information, congratulations !!!, i got a question regarding 3d motion vector calculation. In the paper [A Large Dataset to Train Convolutional Networks for Disparity, Optical Flow, and Scene Flow Estimation](http://openaccess.thecvf.com/content_cvpr_2016/papers/Mayer_A_Large_Dataset_CVPR_2016_paper.pdf)  mention:

i would like to know how to get those 3d positions of all visible s

[2020-05-28 07:25] nikolausmayer commented on #216
Hi,
good question and I have thought about it a little. I see 4 general possible paths to take to get to 3D vectors:
1. Use a renderer that produces 3D vectors (well, obviously). I don't have a great overview (it's been a while since we did our dataset) but I heard RenderMan may support this better than others.
2. Do as we did and hack support for 3D position outputs into a renderer of your choice

[2020-05-28 22:19] huatson commented on #216
thank you very much for the detailed answer!, definetly will try those, at least the blender options (2,4) since is the tool that i have knowledge,

[2020-05-28 22:19] #216 closed, assigned to nikolausmayer

[2020-05-29 07:47] nikolausmayer commented on #216
If you find other options or run into interesting Blender problems, I'm always interested in details! ;)

[2020-07-21 01:10] DonaldKam opened #217 "Shadow suppression"
It a marvelous job and I noticed that the motion of shadow was suppressed in the supplementary video shown as following
![image](https://user-images.githubusercontent.com/44252954/88001028-adec4500-cb31-11ea-82b4-b9e8d07bae58.png)
This differentiates from conventional methods like Lucas-Kanade. Can you explain why？

[2020-07-21 12:08] nikolausmayer commented on #217
There is no explicit shadow treatment in FlowNet2 — every behavior is data-driven. The network has enough capacity to learn something about shadows from the available KITTI groundtruth during finetuning (after pretraining on a larger dataset to learn general flow features).
FlowNet2 has a relatively large receptive field, so it can "analyze" the area around the car and shadow and make decisions ba

[2020-07-21 12:08] #217 closed, assigned to nikolausmayer

[2020-08-14 20:05] aiwithshekhar opened #218 "how to generate optial flow .flo and .rflo files?"
Can you please help me with the generation of .flo and .rflo files. I needed it for using in this repo https://github.com/lxx1991/VS-ReID. I am using windows 10 with nvidia quadro M2000, will i be able to run the makeFile if yes what are the changes required in makeFile.config.

[2020-08-18 11:27] nikolausmayer commented on #218
I'm afraid we have no experience with Windows builds and cannot assist with this.

[2020-08-22 07:42] guanhuankang opened #219 "[libprotobuf ERROR C:\ci\libprotobuf_1523040574637\work\src\google\protobuf\text_format.cc:288] Error parsing text-format caffe.NetParameter: 524:15: Message type "caffe.LayerParameter" has no field named "irnn_param""
## Install
I install caffe(python version) by running following command:
conda create -n caffe python=3.7
conda install caffe-gpu
; And I have ran the test code successfully, the test code as follow:
import caffe
caffe.set_device(0)
caffe.set_mode_gpu()

## Problem
However, when I try to load a model and do some test on it , I encounter the above problem. It seems like that caffe fails to parse th

[2020-08-23 06:49] nikolausmayer commented on #219
This does not sound like a FlowNet issue, but like a Caffe problem.
`Message type "caffe.LayerParameter" has no field named "irnn_param".` indicates that you might be using a wrong Caffe version, or have multiple installed versions that interfere with each other.
Please redirect this issue to the maintainers of Caffe or of the network you are trying to run. We can only assist with queries specific

[2020-08-23 06:49] #219 closed, assigned to nikolausmayer

[2020-08-26 18:23] JibKh opened #220 "Can we set this up on Google Colab?"
I am trying to set this up on Google Colab, however source set-env.sh line does not work since Google Colab does not allow virtual environments I believe. Continuing with the code leads to an error:
`
[libprotobuf ERROR google/protobuf/text_format.cc:298] Error parsing text-format caffe.NetParameter: 40:22: Message type "caffe.LayerParameter" has no field named "augmentation_param".
F0826 18:27:00

[2020-08-27 08:19] nikolausmayer commented on #220
I have never used Colab, so I cannot give an authoritative answer, but I believe one cannot install arbitrary software there? In that case, our Caffe variant is ruled out anyway — it does not work with an off-the-shelf Caffe, you need our own code.

Using the TF implementation you linked is probably the better idea.

[2020-09-02 08:04] nikolausmayer commented on #218
(closed due to inactivity)

[2020-09-02 08:04] #218 closed, assigned to nikolausmayer

[2020-09-09 10:44] nikolausmayer commented on #220
(closed due to inactivity)

[2020-09-09 10:44] #220 closed, assigned to nikolausmayer

[2020-10-28 05:46] Diksha-Moolchandani opened #221 "Models from download-model.sh"
Hi,

What are the different models that are being downloaded using download-models.sh?
Flownet2-KITTI might be for the model trained on KITTI dataset
Flownet2-SINTEL might be for the model trained on SINTEL dataset
Flownet2, Flownet2-c, Flownet2-C, Flownet2-cs, flownet2-CS, Flownet2-css, Flownet2-CSS, Flownet2-css-ft-sd, Flownet2-CSS-t-sd, Flownet2-s, Flownet2-S, Flownet2-SD, Flownet2-SS, Flownet2

[2020-10-29 08:12] nikolausmayer commented on #221
KITTI and SINTEL are what they seem to be 🙂
The other models are described (or at least listed) in Section 4.2 and Table 3 in [the FlowNet2.0 paper](https://ieeexplore.ieee.org/document/8099662/). In short, they are intermediate networks in the network-stacking process and/or reduced-capacity models.
If any model is missing, its name should give hints about what the model is. In any case, any mode

[2020-10-29 09:39] Diksha-Moolchandani commented on #221
Thanks for the prompt reply.
This is what I understood:
1.  FlowNet2-KITTI and Flownet2-Sintel have the same architecture as in Figure 2 but are trained on different datasets.
2. FlowNet2-S and FlowNet2-C are equivalent to the two flownet architectures: flownetsimple and flownetcorr proposed in the flownet paper.
3. Is any of the models equivalent to DispNet ? Can Flownet2-S be said equivalent to

[2020-10-30 11:22] nikolausmayer commented on #221
1. I believe so, yes, but you should double-check the FlowNet2.0 paper to make sure.
2. Yes.
3. The DispNet has additional convolutional layers in the decoder that aid smoothing, and its decoder is "longer" to output a higher resolution, but otherwise they are equivalent.

[2020-10-31 11:47] Diksha-Moolchandani commented on #221
Thanks

[2020-10-31 11:47] #221 closed, assigned to nobody

[2020-11-02 11:24] Diksha-Moolchandani opened #222 "Dataloader for loading images"
Hi,

Are you aware of some dataloader that can be used to speed up the image loading process, i wanted to run this for the entire sceneflow monkaa dataset? I know the one in pytorch but I am unsure of its usability in a caffe based code such as flownet2 and loading+reading single image takes a lot of time to cover the entire monkaa dataset.

[2020-11-04 10:35] nikolausmayer commented on #222
The main speed bottleneck with our release code is not the data loading, but the network being reinitialized for every input sample (because we cannot assume that all inputs have the same dimensions). You can change the Python code to reuse the network for all samples, see https://github.com/lmb-freiburg/flownet2/issues/105.

[2020-11-05 03:35] Diksha-Moolchandani commented on #222
Thanks

[2020-11-05 03:35] #222 closed, assigned to nobody

[2020-12-19 12:13] Diksha-Moolchandani opened #223 "High error rate for KITTI 2015 Training dataset"
I ran the flownet2-kitti model provided in the repo. The dataset used was KITTI 2015 training dataset with left images in the image_2/ folder, right images in the image_3/ folder, and the ground truth disparity in the disp_occ_0/ folder. I have modified run-flownet-many.py with the Kitti dataloader.

I am getting an average error of 0.59 (averaged across the 200 images in the dataset).

The error

[2021-01-18 19:05] nikolausmayer commented on #223
If I read this correctly, the error is measured in pixels, right? 0.59 isn't a large pixel error, in fact it's probably very good, considering  the fact that FlowNet2 is _not_ specialized for disparity.
Did you check the results visually, e.g. by warping the right image onto the left and looking at the difference to the original left image?

[2021-02-12 04:02] #223 closed, assigned to nobody

[2021-03-10 06:20] BasicCoder commented on #134
you need open USE_CUDNN := 1 switch in Makefile.config

[2021-03-25 14:50] t109318123 opened #224 "Error parsing text-format caffe.NetParameter. But I can't find scripts folder in /home/user/caffe/build."
following is my error message
[code]
I found the solution maybe need to source the env script, but I couldn't find the scripts folder in the /home/user/caffe/build path, so I think this method is not helpful for me.
Do you know how to solve this problem with another method?

[2021-03-27 09:49] nikolausmayer commented on #224
`Message type "caffe.LayerParameter" has no field named "augmentation_param"` often has one of these reasons:
- you have more than one Caffe installation, and the paths interfere with each other
- you have an old (or more than one) Protobuf installation and it is erroneously being used for FlowNet2